body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E2E2E2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #B6A8A8;
}

.title {
    font-size: 36px;
    font-weight: bold;
    flex: 1;
    background-color: #EACB9A;
}

.lang-button {
    background-color: #EACB9A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.lang-button:hover {
    background-color: #555;
}

div.scroll-container {
    background-color: #723333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img {
    padding: 10px;
}
.outline-color


.footer{
    background-color: #B6A8A8;
}


.my-button {
    width: 300px;         /* Gør knapperne lange */
    padding: 15px 20px;
    margin: 10px 0;       /* Mellemrum mellem knapperne */
    font-size: 16px;
    background-color: #723333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.my-button:hover {
    background-color: #934545;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 1.2rem;
    }
}