body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E2E2E2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #B6A8A8;
}

header h1 {
    font-size: 2em;
}

header h2 {
    font-size: 1.2em;
    font-weight: normal;
}

/* Main Section */
main {
    padding: 20px;
}

.recommendation {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.map-image img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.cafe-img {
    width: 100%;
    height: auto;
}

/* QR Code Section */
.qr-code h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.qr-code p {
    font-size: 1em;
}

/* Address and Contact Section */
.address-contact, .contact {
    margin-bottom: 20px;
}

.address-contact h3 {
    font-size: 1.2em;
}

.address-contact p, .contact p {
    font-size: 1em;
}

/* Footer */
footer {
    background-color: #800000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Mobile-Friendly Adjustments */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    } }

    header h2 {
        font-size: 1em;
    }

    .recommendation, .address-contact, .contact {
        font-size: 1em;
    }

    .map-image img, .cafe-img {
        width: 100%;
        height: auto;
    }

    /* Ensartet farve som headeren */
    footer {
        background-color: #B6A8A8;
        padding: 20px 10px; /* Giver lidt luft */
        color: #000; /* Tekstfarve for kontrast */
        text-align: center; /* Centrer tekst */
    }
